body {
    background-color: #b3d9ff;
    margin: 70px;
}

.mainpage {
    background-color: #d4e6f1;
    border-radius: 50px;
    padding: 80px;
    width: 70%;
    margin: 120px;
    box-shadow: 15px 5px 12px 10px;
    text-align: center;
}

.welcome {
    font-size: 120px;
    color: #003366;
    margin-top: -1px;
    margin-bottom: 30px;
    padding-bottom: 0;
    line-height: 1;
}

.start {
    font-size: 50px;
    color: #222222;
    margin-top: 0;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.in,
.up {
    background-color: rgb(14, 70, 201);
    font-size: 50px;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 15px;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.in:hover,
.up:hover {
    background-color: #003399;
    transform: scale(1.05);
}

/*-----------------------------------------------------------------------------------------------------*/

.signinmain {
    background-color: #b3d9ff;
    font-size: 50px;
    
}

.signinall {
    background-color: #d4e6f1;
    font-size: 20px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 15px 5px 12px 10px;
    padding-bottom: 90px;
}

.signinenter {
    font-size: 50px;
    margin-left: 370px;
}

#username {
    padding: 10px;
    padding-left: 20px;
    width: 600px;
    margin-left: 150px;
    border-radius: 10px;
}

#password {
    padding: 10px;
    padding-left: 20px;
    width: 600px;
    margin-left: 160px;
    border-radius: 10px;
}

.usernameenter {
    font-size: 40px;

}

.passwordenter {
    font-size: 40px;
}

.btn1 {
    background-color: #0f5091;
    color: aliceblue;
    font-size: 30px;
    border-radius: 5px;
    padding: 12px;
    margin-left: 550px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #003399;
    transform: scale(1.05);
}

/*-----------------------------------------------------------------------------------------------------*/

.signupmain {
    background-color: hsl(210, 100%, 85%);
    font-size: 40px;
}

.signupall {
    font-size: 30px;
    padding: 30px;
    background-color: #d4e6f1;
    border-radius: 50px;
    margin: 80px;
    box-shadow: 15px 5px 12px 10px;
}


.signupenter {
    font-size: 50px;
    margin-left: 330px;
    color: #003366;
}


#username2 {
    padding: 10px;
    padding-left: 20px;
    width: 600px;
    margin-left: 150px;
    border-radius: 10px;
}


#password2 {
    padding: 10px;
    padding-left: 20px;
    width: 600px;
    margin-left: 158px;
    border-radius: 10px;
}

#email {
    padding: 10px;
    padding-left: 20px;
    width: 600px;
    margin-left: 100px;
    border-radius: 10px;
}

#phonenumber {
    padding: 10px;
    padding-left: 20px;
    width: 600px;
    margin-left: 95px;
    border-radius: 10px;
}

.select {
    padding: 10px;
    margin-left: 190px;
    font-size: 25px;
    border-radius: 10px;
}

.btn2 {
    background-color: #0f5091;
    color: aliceblue;
    font-size: 30px;
    border-radius: 5px;
    padding: 12px;
    margin-left: 480px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}


.btn2:hover {
    background-color: #003399;
    transform: scale(1.05);
}

